/* Imported Google fonts */
@import url('https://fonts.googleapis.com/css?family=Dokdo|Gloria+Hallelujah');


/* Styles */
body {
    background-image: url('https://images.pexels.com/photos/33707/flowers-meadow-wood-forest.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.5em;
    padding-bottom: 4.5em;
}

section {
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 70vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 1em;
}

#our-nav,
#our-nav a,
header,
footer {
    font-family: 'Dokdo', cursive;
    background-color: darkgreen;
    color: antiquewhite;
    text-align: center;
}

a {
    color: darkgreen;
}

a:hover {
    color: green;
    font-weight: bold;
    text-decoration: none; 
}

.btn-success {
    display: block;
    margin: auto;
    width: 30%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

#our-nav a :active {
    font-weight: bold
}

footer a {
    font-size: 1.5em;
    margin-left: 1em;
}

#olivia {
    color: pink
}
#andreea {
    color: yellow
}
#zoltan{
    color: skyblue
}
#jo {
    color: lightgreen
}

.games-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.games-checklist{
    font-size: 25px;
}


.col-md-4 {
    padding: 3em;
    align-items: center;
    justify-content: center;
}

label {
    width: 80%;
    display: inline-block;

}

.story-main,
.story-main img {
    display: block;
    margin: 0 auto;
}